.board {
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px);
    gap: 5px; 
    float: left; /* Alinea el tablero a la izquierda */
}

.tile {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted #000000;
}

.bush {
    background-image: url(../img/OIP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: green;
}



.player {
    background-image: url(../img/pistol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right; 
    margin-left: 20px; 
}

.button-container button {
    width: 100px;
    height: 100px; 
    margin-bottom: 10px; 
    font-size: 16px; 
}